<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MazzaDbContext" connectionString="Server=35.205.178.171;database=mazza;Uid=Mazza;password=Prova10!;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="JobsDbConnection" connectionString="Server=35.205.178.171;Database=jobs;Uid=Mazza;Password=Prova10!;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
