<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MazzaDbContext" connectionString="Server=35.205.178.171;database=mazza;Uid=Mazza;password=Prova10!;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="JobsDbConnection" connectionString="Server=35.205.178.171;Database=jobs;Uid=Mazza;Password=Prova10!;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <paypal>
    <settings>
      <add name="clientId" value="AW17R8ZIw6j2cxO7-_leGLmpKi-9sA-ndWzy-HdP0RtxFp8rNTwKKrAOJVsyHOkrOFhL-_3AtWujAGMC" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="clientSecret" value="EMKKmbmNKzKMqEsetrZ4q6gBBwiF0TJ2hrh4HufGzA0QW17b08gxP4QM7BXCaPKQXkLSDYkB-tbbWRrs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </settings>
  </paypal>
</configuration>
