@using MazzaWebSite.Resources;
@{
    ViewBag.Title = "Manage";
}
@if (!Request.IsAuthenticated)
{
    Response.Redirect("~/Account/Login");
}
else
{
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Account.Password</dt>
            <dd>
                [
                @Html.ActionLink("Change your password", "ChangePassword")
                ]
            </dd>
        </dl>
    </div>
}